:root {
  --font-title: 'Titan One', cursive;
  --font-second: 'DM Sans', sans-serif;

  --bckgr-head-color: #ffb8ca;
  --bckgr-head-ellipce-color: #ffa5ba;
  --bckgr-second-color: #ffffff;
  --bckgr-third-color: #fff5f6;
  --bckgr-text-color: #e1e1e1;

  --text-accent-first-color: #d41443;
  --text-accent-second-color: #ffa5ba;
  --text-main-color: #ffffff;
  --text-base-color: #000000;
  --text-other-color: #907e82;

  --accent-btn-color: #d41443;
  --second-btn-color: #ffffff;

  --products-second-bckgr-color: #c2e297;
  --products-bckgr-color: #f0d1a5;
}

// --second-bckgr-color: ;
// --third-bckgr-color: ;
// --header-bottom-line: ;
// --thumb-color: ;
// --first-social-icon-color: ;
// --second-social-icon-color: ;
// --hover-social-icon-color: ;
// --border-projects-color: ;
