<section class="contacts">
   <div class="container">
      <ul class="contacts__list">
         <li class="contacts__item">
            <div class="contacts__box">
                  <h3 class="contacts__title">
                     Cafe
                  </h3>
                  <h4 class="contacts__town contacts__town-title">Chicago</h4>
                  <p class="contacts__town contacts__town-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <p class="contacts__town contacts__town-days">Monday - Friday</p>
                  <p class="contacts__town contacts__town-time">06:00 AM - 10:00 PM</p>
                  <p class="contacts__town contacts__town-days">Saturday - Sunday</p>
                  <p class="contacts__town contacts__town-time">08:00 AM - 16:00 PM</p>
                  <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
                     +38 096 111 11 11</a>
                  <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
                        info@devstudio.com</a>
            </div>
         </li>
         <li class="contacts__item">
            <div class="contacts__box">
               <h3 class="contacts__title contacts__title--other ">
                  Foodtruck
               </h3>
               <h4 class="contacts__town contacts__town-title">Los Angeles</h4>
               <p class="contacts__town contacts__town-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               <p class="contacts__town contacts__town-days">Monday - Friday</p>
               <p class="contacts__town contacts__town-time">06:00 AM - 10:00 PM</p>
               <p class="contacts__town contacts__town-days">Saturday - Sunday</p>
               <p class="contacts__town contacts__town-time">08:00 AM - 16:00 PM</p>
               <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
                  +38 096 111 11 11</a>
               <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
                  info@devstudio.com</a>
            </div>
         </li>
         <li class="contacts__item">
            <div class="contacts__box">
               <h3 class="contacts__title">
                  Cafe
               </h3>
               <h4 class="contacts__town contacts__town-title">New York</h4>
               <p class="contacts__town contacts__town-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               <p class="contacts__town contacts__town-days">Monday - Friday</p>
               <p class="contacts__town contacts__town-time">06:00 AM - 10:00 PM</p>
               <p class="contacts__town contacts__town-days">Saturday - Sunday</p>
               <p class="contacts__town contacts__town-time">08:00 AM - 16:00 PM</p>
               <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
                  +38 096 111 11 11</a>
               <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
                  info@devstudio.com</a>
            </div>
         </li>
      </ul>
      <button type="button" class="btn__lokations">Our Locations</button>
      <button type="button" class="btn__franchise">Franchise</button>
   </div>
</section>