<section class="contacts">
   <div class="container">
      <ul class="contacts__list">
         <li class="contacts__item">
            <div class="contacts__box">
                  <h3 class="contacts__title">
                     Cafe
                  </h3>
            </div>
         </li>
         <li class="contacts__item">
            <div class="contacts__box">
               <h3 class="contacts__title contacts__title--other ">
                  Foodtruck
               </h3>
            </div>
         </li>
         <li class="contacts__item">
            <div class="contacts__box">
               <h3 class="contacts__title">
                  Cafe
               </h3>
            </div>
         </li>
      </ul>
   </div>
</section>