<section class="customers-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customers reviews</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper__img" src="" alt="sergei" width="85" height="85">
          <div class="swiper__box">
            <p class="swiper__text">Спасибо всей команде за слаженную работу, понимание и дружественную
              обстановку. А так же менторам за то что научили
              делать хороший продукт.</p>
            <div class="swiper__dots"></div>
            <h3 class="swiper__title">Сергей, Николаев</h3>
          </div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
</section>