<section class="hero">
  <div class="container">
    <img class="hero-pimary-img" src="images/hero/hero-icecream.png" alt="Big icecream" />
    <img src="images/hero/so-tasty.png" alt="" class="hero-secondary-img" />
    <div class="hero-section">
      <h1 class="hero-section__title">
        Ice cream made with <span class="hero-section__title--accent">passion</span>
      </h1>
      <ul class="hero-section__buttons-list">
        <li class="hero-section__buttons-item">
          <a href="#products" class="">Our products</a>
        </li>
        <li class="hero-section__buttons-item">
          <a href="#customer-reviews" class="">How it's made?</a>
        </li>
      </ul>
    </div>
    <div class="mini-how-its-made">
      <img src="images/hero/eco-milk.png" alt="Jug of milk" class="mini-how-its-made__img" />
      <div class="mini-how-its-made__description">
        <p class="mini-how-its-made__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="__" class="mini-how-its-made__link"></a>
      </div>
    </div>
    <ul class="sale-points">
      <li class="sale-points__item">
        <span class="sale-points__quantity">13</span>
        <span class="sale-points__label">cafe</span>
      </li>
      <li class="sale-points__item">
        <span class="sale-points__quantity">26</span>
        <span class="sale-points__label">food trucks</span>
      </li>
    </ul>
  </div>
</section>
