<div class="popup__bg">
  <form action="#" class="form popup">
    <div class="form__decoration-left"></div>
    <div class="form__decoration-right"></div>
    <div class="circle"></div>
    <button class="popup__button close-popup" type="button" aria-label="Кнопка закрытия модального окна">
      <svg class="popup__icon" width="40" height="40">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form__box">
      <input type="text" class="form__input" name="имя" placeholder="Имя*">
      <input type="tel" class="form__input" name="телефон" placeholder="Телефон*">
    </div>
    <textarea class="form__input form__input--textarea" name="comment" id="comment" placeholder="сообщение"></textarea>
    <button class="form__button button button--center" type="submit">отправить</button>
  </form>
</div>