<section class="products-section">
    <div class="container">
        <p class="label__text">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="product">
            <li class="product__item">

                <picture class="item">
                    <source srcset="./images/products/ice-cream-desk.png 1x,
                            ./images/products/ice-cream-desk2x.png 2x " 
                            media="(min-width: 1280px)" type="images/png" />
                    <source srcset="./images/products/ice-cream-tab.png 1x,
                            ./images/products/ice-cream-tab2x.png 2x " 
                            media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/ice-cream-mob.png 1x,
                            ./images/products/ice-cream-mob2x.png 2x " 
                            media="(min-width: 320px)" type="images/png" />

                    <img src="./images/products/ice-cream-desk.png" alt="мороженное" />
                </picture>
               
         <h3 class="product__name">ice cream</h3>
                    Три точечки
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="submit" class="product__btn ">

                        <svg class="btn__icon" width="40" height="40">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                    
            </li>
           
            
            <!-- <li class="product__item">
                <picture class="image">
                    <source srcset="./images/products/ice-coffee-desk.png 1x,
                                    ./images/products/ice-coffee-desk2x.png 2x "
                             media="(min-width: 1280px)"
                             type="images/png" />
                    <source srcset="./images/products/ice-coffee-tab.png 1x,
                                        ./images/products/ice-coffee-tab2x.png 2x " media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/ice-coffee-mob.png 1x,
                                        ./images/products/ice-coffee-mob2x.png 2x " media="(min-width: 320px)" type="images/png" />
            
                    <img src="./images/products/ice-coffee-desk.png" alt="кофе" />
                </picture>
                <div class="product__box">
                    <h3 class="product__title">ice coffee</h3>
                    Три точечки
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="submit" class="product__btn ">
            
                        <svg class="btn__icon" width="40" height="40">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
                </div>
            </li>
            <li class="product__item">
                <picture class="image">
                    <source srcset="./images/products/milkshakes-desk.png 1x,
                                        ./images/products/milkshakes-desk2x.png 2x " media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/milkshakes-tab.png 1x,
                                        ./images/products/milkshakes-tab2x.png 2x " media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/milkshakes-mob.png 1x,
                                        ./images/products/milkshakes-mob2x.png 2x " media="(min-width: 320px)" type="images/png" />
            
                    <img src="./images/products/milkshakes-desk.png" alt="коктейль" />
                </picture>
                <div class="product__box">
                    <h3 class="product__title">milkshakes</h3>
                    Три точечки
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="submit" class="product__btn ">
            
                        <svg class="btn__icon" width="40" height="40">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
                </div>
            </li> -->
        </ul>
    </div>
</section>
