<section class="products-section">
    <div class="container container__products">
        <p class="label__text">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
           <li class="products__item">
               <picture class="images">
                    <source srcset="./images/products/ice-cream-desk.png 1x,
                                ./images/products/ice-cream-desk2x.png 2x " 
                                media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/ice-cream-tab.png 1x,
                                ./images/products/ice-cream-tab2x.png 2x "
                                 media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/ice-cream-mob.png 1x,
                                 ./images/products/ice-cream-mob2x.png 2x " 
                            media="(min-width: 320px)" type="images/png" />
                    
                    <img src="./images/products/ice-cream-mob2x.png" alt="мороженное" />
                    </picture>
                    <div class="products__box">
                    <h3 class="products__name">ice cream</h3>
                    <span class="tochki">...</span>
                    
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et<span class="text__none"> dolore magna
                            aliqua facilisis.</span></p>
                    <button type="submit" onClick="location.href='https://xcook.info/product/slivochnoe-morozhenoe.html'" class="products__btn ">
                    
                        <svg class="btn__icon" width="10" height="10">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                    </div>
                    
                    </li>
        
                   
                

            <li class="products__item">
                <picture class="images">
                    <source srcset="./images/products/ice-coffee-desk.png 1x,
                                    ./images/products/ice-coffee-desk2x.png 2x "
                             media="(min-width: 1280px)"
                             type="images/png" />
                    <source srcset="./images/products/ice-coffee-tab.png 1x,
                                        ./images/products/ice-coffee-tab2x.png 2x " media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/ice-coffee-mob.png 1x,
                                        ./images/products/ice-coffee-mob2x.png 2x " media="(min-width: 320px)" type="images/png" />
            
                    <img src="./images/products/ice-coffee-mob2x.png" alt="кофе" />
                </picture>
            <div class="products__box products__box--background">
                <h3 class="products__name">ice-coffee</h3>
                <span class="tochki">...</span>
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut
        labore et<span class="text__none"> dolore magna
            aliqua facilisis.</span></p>
                    <button type="submit" onClick="location.href='http://tga.by/blog/holodnyj-kofe-nazvanie-vidy-i-recepty'" class="products__btn " class="products__btn ">
            
                        <svg class="btn__icon" width="10" height="10">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
                
            </li>
            <li class="products__item">
                <picture class="images">
                    <source srcset="./images/products/milkshakes-desk.png 1x,
                                        ./images/products/milkshakes-desk2x.png 2x " media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/milkshakes-tab.png 1x,
                                        ./images/products/milkshakes-tab2x.png 2x " media="(min-width: 768px)" type="images/png" />
                    <source srcset="./images/products/milkshakes-mob.png 1x,
                                        ./images/products/milkshakes-mob2x.png 2x " media="(min-width: 320px)" type="images/png" />
            
                    <img src="./images/products/milkshakes-desk.png" alt="коктейль" />
                </picture>
                <div class="products__box products__box--background-color ">
                    <h3 class="products__name">milkshakes</h3>
                    <span class="tochki">...</span>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et<span class="text__none"> dolore magna
                        aliqua facilisis.</span></p>
                       
                    <button type="submit"   onClick="location.href='https://speelogroup.com/blog/milksheyk-istoriya-odnogo-iz-glavnykh-napitkov-sovremennosti'" class="products__btn " class="products__btn ">
            
                        <svg class="btn__icon" width="10" height="10">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
                
            </li>
        </ul>
    </div>
</section>
