<section class="products-section" id="products">
    <div class="container">
        <p class="label__text">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <!-- <picture class="images">
                    <source srcset="./images/products/ice-cream-desk.png 1x,
                                ./images/products/ice-cream-desk2x.png 2x " media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/ice-cream-tab.png 1x,
                                ./images/products/ice-cream-tab2x.png 2x " media="(min-width: 768px)"
                        type="images/png" />
                    <source srcset="./images/products/ice-cream-mob.png 1x,
                                ./images/products/ice-cream-mob2x.png 2x " media="(min-width: 320px)"
                        type="images/png" /> -->
                    <!-- <img src="./images/products/ice-cream-mob2x.png" alt="мороженное" /> -->
                <!-- </picture> -->
                <!-- <div class="products__box"> -->
                    <h3 class="products__name">ice cream</h3>
                    <span class="dots">...</span>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et<span class="dot">...</span><span class="cont"> dolore magna
                            aliqua facilisis.</span></p>
                    <button type="button"
                         value="Read more" data-tooltip="Read More"
                        class="products__btn button-circle">
                        <svg class="button__icon-arrow" width="15" height="15">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                <!-- </div> -->
            </li>
            <li class="products__item products__item--color">
                <!-- <picture class="images">
                    <source srcset="./images/products/ice-coffee-desk.png 1x,
                                    ./images/products/ice-coffee-desk2x.png 2x " media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/ice-coffee-tab.png 1x,
                                        ./images/products/ice-coffee-tab2x.png 2x " media="(min-width: 768px)"
                        type="images/png" />
                    <source srcset="./images/products/ice-coffee-mob.png 1x,
                                        ./images/products/ice-coffee-mob2x.png 2x " media="(min-width: 320px)"
                        type="images/png" /> -->
                    <!-- <img src="./images/products/ice-coffee-mob2x.png" alt="кофе" /> -->
                <!-- </picture> -->
                <!-- <div class="products__box products__box--background"> -->
                    <h3 class="products__name">ice-coffee</h3>
                    <span class="dots">...</span>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et<span class="dot">...</span><span class="cont"> dolore magna
                            aliqua facilisis.</span></p>
                    <button type="button" data-tooltip="Read More"
                    value="Read more" 
                        class="products__btn button-circle" class="products__btn ">
                        <svg class="button__icon-arrow" width="15" height="15">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                <!-- </div> -->
            </li>
            <li class="products__item products__item--imag">
                <!-- <picture class="images">
                    <source srcset="./images/products/milkshakes-desk.png 1x,
                                    ./images/products/milkshakes-desk2x.png 2x " media="(min-width: 1280px)"
                        type="images/png" />
                    <source srcset="./images/products/milkshakes-tab.png 1x,
                                    ./images/products/milkshakes-tab2x.png 2x " media="(min-width: 768px)"
                        type="images/png" />
                    <source srcset="./images/products/milkshakes-mob.png 1x,
                                    ./images/products/milkshakes-mob2x.png 2x " media="(min-width: 320px)"
                        type="images/png" /> -->
                    <!-- <img src="./images/products/milkshakes-desk.png" alt="коктейль" /> -->
                <!-- </picture> -->
                <!-- <div class="products__box products__box--background-color "> -->
                    <h3 class="products__name">milkshakes</h3>
                    <span class="dots">...</span>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et<span class="dot">...</span><span class="cont"> dolore magna
                            aliqua facilisis.</span></p>
                    <button type="button" data-tooltip="Read More"
                        value="Read more" 
                        class="products__btn button-circle" class="products__btn ">
                        <svg class="button__icon-arrow" width="15" height="15">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                <!-- </div> -->
            </li>
        </ul>
    </div>
</section>