.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 210px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--brandColor);

  border-radius: 22px;

  background-color: var(--btnLightColor);

  @media screen and(min-width:768px) {
    width: 160px;
  }

  &:hover,
  &:focus {
    background-color: tomato;
  }
  &--red-btn {
    font-size: 8px;
    line-height: 1.38;
  }
}

.red-btn {
}
