.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  color: var(--brandColor);
  border-radius: 22px;
  background-color: var(--btnLightColor);
  transition: background-color 300ms var(--mainTransition);

  &:hover,
  &:focus {
    background-color: var(--btnLightHover);
  }
}

.button--mobile-menu {
  width: 209px;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.button--read-more {
  width: 176px;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--brandColor);
  background-color: #ffffff;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--brandColor);
    color: #ffffff;
  }
}

.button-circle--small {
  width: 16px;
  height: 16px;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.button__icon-arrow {
  fill: currentColor;
}

.button__icon {
  margin-left: 14px;
  width: 4.43px;
  height: 8px;
  fill: currentColor;
}
