.link-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--brandColor);
  background-color: var(--btnLightColor);
  border-radius: 22px;

  transition: 300ms var(--mainTransition);

  @media screen and(max-width:767px) {
    max-width: 160px;
  }
  @media screen and(min-width:768px) {
    min-width: 180px;
    padding-left: 35px;
    padding-right: 35px;
  }

  &:focus,
  &:hover {
    background-color: var(--btnLightHover);
  }
}

.link-contact__red {
  color: var(--btnLightColor);
  background-color: var(--btnPinkColor);
  &:focus,
  &:hover {
    background-color: var(--btnPinkHover);
  }
}
