.about__section {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: var(--backgroundPinkColor);
}

.about__bg {
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    margin: 0 auto;

    max-width: 1600px;

    background-image: url(/images/about/about-bg-desktop@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/about/about-bg-desktop@2x.png);
    }
  }
}

.about__pretitle {
  text-align: center;
  padding-bottom: 15px;
}

.about__title {
  text-align: center;
  padding-bottom: 55px;
}

.about__box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.about__img {
  max-width: 280px;
  height: 280px;

  @media screen and (min-width: 480px) {
    max-width: 340px;
    height: 340px;
  }

  @media screen and (min-width: 768px) {
    max-width: 340px;
    height: 340px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 516px;
    height: 516px;
  }
}

.about__tumb {
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 75px;
    height: auto;
  }
}

.about__text--dark {
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 1.62;
  color: var(--mainTextDarkColor);

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.about__text--light {
  font-size: 12px;
  line-height: 1.62;

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
  }
  color: var(--secondaryTextDarkColor);
  &:nth-last-child(4n) {
    margin-bottom: 35px;
  }
}

.about__btn {
  margin-top: 45px;
}

/*modal read more*/

#more {
  display: none;
}
