.contacts {
  // background-color: var(--backgroundPinkColor);
  background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(255, 245, 246) 10%);
  background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(255, 245, 246) 10%);
  background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(255, 245, 246) 10%);
  padding-bottom: 113px;
  @media screen and (min-width: $desktop) {
    background: url(../images/contacts/bg-contacts.png),
      linear-gradient(180deg, rgb(255, 255, 255) 11%, #fff5f6 6%);
    background-repeat: no-repeat;
    background-position: center 27%;
    background-size: contain;
  }
}
.contacts__list {
  margin-bottom: 55px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 0 0;
    .contacts__item:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 0 0;
    .contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__item {
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 0;
    min-width: 220px;
    min-height: 544px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 30px);
    min-width: 330px;
    min-height: 572px;
  }
}
.contacts__box {
  text-align: start;
  width: 100%;
  min-height: 427px;
  padding: 43px 20px;

  border: 1px solid;
  border-color: transparent;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 8px 30px 0px #d414431a;

  background-color: var(--mainTextLightColor);
  border-radius: 24px;
  @media screen and (min-width: $mobile) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    text-align: start;
    padding: 50px 30px;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.contacts__title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 25px;
  height: 16px;
  width: 80px;
  margin-bottom: 25px;

  color: var(--mainTextLightColor);

  border-radius: 4px;
  border: 1px solid;
  border-color: transparent;
  background-color: var(--aditionalColor1);

  text-transform: uppercase;
  text-align: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.87;
    padding: 8px 16px;
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
  }
}

.contacts__title--other {
  background-color: var(--aditionalColor2);
  width: 130px;
  @media screen and (min-width: $tablet) {
    width: 138px;
  }
}

.contact__town {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.contacts__town-text {
  color: var(--secondaryTextDarkColor);
  line-height: 1.15;
  letter-spacing: 0em;
  margin-top: 10px;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 25px 0;
    @media screen and (min-width: $tablet) {
      margin: 30px 0;
    }
    @media screen and (min-width: $desktop) {
      margin: 32px 0;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 15px;
    line-height: 1.64;
  }
}
.contacts__town-days {
  font-weight: 700;
  color: var(--mainTextDarkColor);
  line-height: 1.86;
  letter-spacing: 0em;
}
.contacts__town-time {
  color: var(--secondaryTextLightColor);
  line-height: 1.86;
  letter-spacing: 0em;
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.contacts__link {
  font-size: 12px;
  line-height: 1.5;
  display: block;
  color: var(--secondaryTextDarkColor);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--secondaryTextLightColor);
  }
}
.contacts__link--tel {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 25px 0;
    @media screen and (min-width: $tablet) {
      margin: 30px 0;
    }
    @media screen and (min-width: $desktop) {
      margin: 32px 0;
    }
  }
}
.contacts__btn--list {
  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 15px;
    }
    .contacts__btn--item:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    .contacts__btn--item:not(:last-child) {
      margin-right: 15px;
    }
  }
}

// .btn__lo—Åations {
//   margin: 0 auto 10px auto;
//   display: block;
//   align-items: center;
//   height: 44px;
//   min-width: 161px;
//   border: transparent;
//   background-color: var(--btnPinkColor);
//   color: var(--mainTextLightColor);
//   &:hover {
//     background-color: var(--btnPinkHover);
//     color: var(--mainTextLightColor);
//     fill: currentColor;
//   }
//   @media screen and (min-width: $tablet) {
//     min-width: 190px;
//     margin-bottom: -10px;
//   }

//   @media screen and (min-width: $desktop) {
//     min-width: 198px;
//   }
// }

// .btn__franchise {
//   margin: 0 auto;
//   display: block;
//   align-items: center;
//   height: 44px;
//   min-width: 161px;
//   border: transparent;
//   background-color: var(--btnLightColor);
//   color: var(--brandColor);
//   &:hover {
//     background-color: var(--btnLightHover);
//     fill: currentColor;
//   }

//   @media screen and (min-width: $tablet) {
//     min-width: 175px;
//     display: inline;
//   }

//   @media screen and (min-width: $desktop) {
//     min-width: 180px;
//   }
// }
