.contacts {
  // background-color: var(--backgroundPinkColor);
  background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 6%, rgb(255, 245, 246) 6%);
  background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 6%, rgb(255, 245, 246) 6%);
  background: linear-gradient(180deg, rgb(255, 255, 255) 6%, rgb(255, 245, 246) 6%);
  padding-bottom: 113px;
}
.contacts__list {
  margin-bottom: 55px;
  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0 0;
    .contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    .contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__item {
  width: 100%;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}
.contacts__box {
  text-align: start;
  width: 100%;
  min-height: 427px;
  padding: 43px 20px;

  border: 1px solid;
  border-color: transparent;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 8px 30px 0px #d414431a;

  background-color: var(--mainTextLightColor);
  border-radius: 24px;
  @media screen and (min-width: $mobile) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    text-align: start;
    padding: 30px 50px;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.contacts__title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 25px;
  height: 16px;
  width: 80px;
  margin-bottom: 25px;

  color: var(--mainTextLightColor);

  border-radius: 4px;
  border: 1px solid;
  border-color: transparent;
  background-color: var(--aditionalColor1);

  text-transform: uppercase;
  text-align: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  // @media screen and (min-width: 480px) {
  //
  // }

  // @media screen and (min-width: 768px) {
  //
  // }

  // @media screen and (min-width: 1280px) {
  //
  // }
}

.contacts__title--other {
  background-color: var(--aditionalColor2);
  width: 130px;
  // @media screen and (min-width: 480px) {
  //
  // }

  // @media screen and (min-width: 768px) {
  //
  // }

  // @media screen and (min-width: 1280px) {
  //
  // }
}

.contact__town {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  // @media screen and (min-width: 480px) {
  //
  // }

  // @media screen and (min-width: 768px) {
  //
  // }

  // @media screen and (min-width: 1280px) {
  //
  // }
}
.contacts__town-text {
  color: var(--secondaryTextDarkColor);
  line-height: 1.15;
  letter-spacing: 0em;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 25px 0;
  }
}
.contacts__town-days {
  font-weight: 700;
  color: var(--mainTextDarkColor);
  line-height: 1.86;
  letter-spacing: 0em;
}
.contacts__town-time {
  color: var(--secondaryTextLightColor);
  line-height: 1.86;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.contacts__link {
  display: block;
  color: var(--secondaryTextDarkColor);
  @media screen and (min-width: $mobile) {
    // display: block;
    // justify-content: center;
    // align-items: center;
    // margin-right: auto;
    // margin-left: auto;
  }
  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    min-width: 198px;
  }
}
.contacts__link--tel {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 25px 0;
  }
  @media screen and (min-width: $mobile) {
    // display: block;
    // margin-right: 10px;
  }
  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
  }
}
.contacts__btn--list {
  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 15px;
    }
    .contacts__btn--item:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    .contacts__btn--item:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.btn__lokations {
  margin: 0 auto 10px auto;
  display: block;
  align-items: center;
  height: 44px;
  min-width: 161px;
  border: transparent;
  background-color: var(--btnPinkColor);
  color: var(--mainTextLightColor);
  &:hover {
    background-color: var(--btnPinkHover);
    fill: var(--mainTextLightColor);
  }
  @media screen and (min-width: $tablet) {
    min-width: 190px;
    margin-bottom: -10px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 198px;
  }
}

.btn__franchise {
  margin: 0 auto;
  display: block;
  align-items: center;
  height: 44px;
  min-width: 161px;
  border: transparent;
  background-color: var(--btnLightColor);
  color: var(--brandColor);
  &:hover {
    background-color: var(--btnLightHover);
    fill: currentColor;
  }

  @media screen and (min-width: $tablet) {
    min-width: 175px;
    display: inline;
  }

  @media screen and (min-width: $desktop) {
    min-width: 180px;
  }
}
