.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.label__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondaryTextLightColor);
}

.products__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 31px;
  margin-top: 10px;
}

.products__list {
  padding-top: 113px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 210px;
    margin: -14px;
  }
}

.products__item {
  width: 280px;
  height: 598px;
  background-color: #ffb8ca;
  border-radius: 24px;
  margin: 0 auto;
  padding: 140px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &:not(:last-child) {
    @media screen and (max-width: 767.5px) {
      margin-bottom: 136px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 10px;
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: $desktop) {
    margin: 14px;
    flex-basis: calc((100% - 86px) / 3);
  }
}
.products__item::before {
  content: url('../images/products/ice-cream-mob.png');
  position: absolute;
  left: 20px;
  top: -110px;
  width: 249px;
  height: 252px;
  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-cream-mob2x.png');

  // }
  // background-image: url('../images/products/ice-cream-mob.png');
}
// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//   .products__item {
//     background-image: url('../images/products/ice-cream-mob2x.png');
//   }
// }
.products__item--color {
  background-color: #f0d1a5;
}
.products__item--color::before {
  content: url('../images/products/ice-coffee-mob.png');
  position: absolute;
  left: 20px;
  top: -110px;
  width: 249px;
  height: 252px;
}
.products__item--imag {
  background-color: #c2e297;
}
.products__item--imag::before {
  content: url('../images/products/milkshakes-mob.png');
  position: absolute;
  left: 20px;
  top: -120px;
  width: 249px;
  height: 252px;
}
// .images {
//   position: absolute;
//   top: -113px;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 249px;
//   height: 252px;

//   @media screen and (min-width: 768px) {
//     top: -100px;
//     width: 220px;
//     height: 226px;
//   }

//   @media screen and (min-width: 1280px) {
//     top: -210px;
//     width: 335px;
//     height: 335px;
//   }
// }

// .products__box {
//   display: block;
//   margin: 0 auto;
//   padding-top: 165px;
//   border-radius: 24px;
//   padding-bottom: 41px;
//   background-color: #ffb8ca;

//   @media screen and (max-width: 767.5px) {
//     max-width: 280px;
//   }
// }

// .products__box--background {
//   background-color: #f0d1a5;
// }

// .products__box--background-color {
//   background-color: #c2e297;
// }

.products__name {
  font-family: 'Titan One', cursive;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 22px;

  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13px;
    margin-bottom: 38px;
    margin-top: 32px;
  }
}

.dots {
  position: relative;
  background-color: var(--mainTextLightColor);
  width: 6px;
  height: 6px;
  border-radius: 5px;
  font-size: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 5px;
  display: flex;
}

.dots::after,
.dots::before {
  content: '';
  position: absolute;
  top: 0;
  background-color: var(--mainTextLightColor);
  border-radius: 5px;
  font-size: 0;
  padding: 5px;
}

.dots::before {
  left: -20px;
}

.dots::after {
  left: 20px;
}

.products__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    line-height: 1.8;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: $tablet) {
  .text__none {
    display: none;
  }
}

.products__btn {
  margin: auto;
}
