.products-section {
  padding-top: 1116px;
  padding-bottom: 1176px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.label__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondaryTextLightColor);
}
.products__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 31px;
  margin-top: 10px;
}
.products__item {
  position: relative;
  height: 252px;
  padding-top: 31px;
  margin-bottom: 22px;
  margin-top: 17px;
}
.images {
  position: absolute;
  top: -30%;
  width: 249px;
  height: 252px;
  margin-top: 31px;
}
.products__box {
  max-width: 280px;
  height: 485px;
  background-image: url('../images/products/background1-mob.png');
  border-radius: 24px;
  padding-top: 165px;
  padding-bottom: 40px;
}
.products__box--background {
  max-width: 280px;
  height: 485px;
  background-image: url('../images/products/background2-mob.png');
}
.products__box--background-color {
  max-width: 280px;
  height: 485px;
  background-image: url('../images/products/background3-mob.png');
}
// .products__box::before {
//   content: '';
//   position: absolute;
//   top: 100px;
//   left: 50px;
// }
.products__name {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
// .products__name::before {
//   content: '';
//   position: relative;
//   width: 280px;
//   height: 485px;
//   // background-image: url('../images/products/background1-mob.png');
//   object-position: center;
// }
.tochki {
  position: relative;
  background-color: var(--mainTextLightColor);
  width: 6px;
  height: 6px;
  border-radius: 5px;
  font-size: 0;
  margin-left: 127px;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.tochki::before {
  position: absolute;
  left: -20px;
  top: 0;
  content: '';

  background-color: var(--mainTextLightColor);
  border-radius: 5px;
  font-size: 0;
  padding: 5px;
}

.tochki::after {
  position: absolute;
  left: 20px;
  top: 0;
  content: '';
  background-color: var(--mainTextLightColor);
  border-radius: 5px;
  font-size: 0;
  padding: 5px;
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 30px 29px 29px 30px;
}

// // //
// .product__box {
//   position: absolute;

//   width: 249px;
//   height: 252px;
// }
// .product__box {
//   width: 280px;
//   height: 485px;
//   background-color: var(--backgroundHeroColor);
//   border-radius: 24px;
//   margin-top: 30px;
// }
.products__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 120px;
}
.btn__icon {
  fill: var(--btnPinkColor);
}
